<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="hero-unit" style='padding:22px 32px 32px 32px;'>
      <h1 style='margin-top:-2px;'><%= mainMessage %></h1>
      <p>You have declined to give consent.</p>
    </div>
  </body>
</html>
