<!DOCTYPE html>
<html>
  <head>
    <title>No Consent</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="hero-unit" style='padding:22px 32px 32px 32px;'>
      <h1>OK</h1>
      <h2 style='margin-top:-2px;'>You have not granted consent</h2>
      <h3>Have a nice day!</h3>
    </div>
  </body>
</html>
